.language-dropdown .lang-en .flag {
  background-image: url("../img/language/england.png");
}
.language-dropdown .lang-bih .flag {
  background-image: url("../img/language/bosnia.png");
}
.language-dropdown .lang-ger .flag {
  background-image: url("../img/language/germany.png");
}
.language-dropdown label,
.language-dropdown ul li {
  display: block;
  width: 40px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.language-dropdown ul.lang-list {
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.language-dropdown ul.lang-list li.selected {
  display: none;
}
.language-dropdown label {
  position: relative;
  z-index: 2;
}
.language-dropdown .lang-flag .flag,
.language-dropdown .lang-list .lang .flag {
  float: left;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.language-dropdown.open ul.lang-list {
  visibility: visible;
  opacity: 1;
}

.lang-flag,
.lang-list {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.flag {
  transition: 0.1s;
}
.flag:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.languageButtonContainer {
  position: fixed;
  top: 19px;
  right: 9px;
}
