.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}
.link--animation {
  text-indent: 1px;
  text-transform: lowercase;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.link--animation span {
  display: inline-block;
  transition: 0.1s;
}

.link--animation:hover span {
  transform: scale3d(1.1, 1.1, 1.1);
}
