@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 1.5rem;
  }
  .navigationContainer {
    padding: 1rem 0.9rem 1rem 0.9rem;
  }
  .languageButtonContainer {
    top: 18px !important;
  }
  .startButtonSpacing {
    margin-right: 25px;
  }
  .language-dropdown label,
  .language-dropdown ul li {
    height: 40px !important;
  }
  .cardImageContainer {
    left: 5px !important;
  }
  .card {
    margin: 50px 0px !important;
  }
  .card:hover {
    height: 400px;
  }
  .cardContent {
    padding: 0px 15px !important;
  }
  .cardContainer {
    padding-top: 35px;
  }

  .card:hover .cardContent {
    margin-top: -130px !important;
  }
}
