@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 1.5rem;
  }
  .toTopContainer {
    width: 40px;
    height: 40px;
  }
  .navigationContainer {
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  }
  .navigationBackground {
    box-shadow: none;
  }
  .languageButtonContainer {
    top: 10px !important;
  }
  .startButtonSpacing {
    margin-right: 25px;
  }
  .language-dropdown label,
  .language-dropdown ul li {
    height: 40px !important;
  }
  .cardImageContainer {
    left: 5px !important;
  }
  .card {
    margin: 50px 0px !important;
  }
  .card:hover {
    height: 400px;
  }
  .cardContent {
    padding: 0px 15px !important;
  }
  .cardContainer {
    padding-top: 60px;
    height: 85% !important;
  }

  .card:hover .cardContent {
    margin-top: -130px !important;
  }
  .carouselCard {
    height: 52vh !important;
    width: 100 !important;
  }

  .tocContainer {
    width: 100% !important;
    padding: 0 !important;
    margin: 50px 0px !important;
    font-size: 21px;
  }
  .table--contents tbody td:first-of-type::after {
    content: "" !important;
  }
  .table,
  .table--contents {
    width: 100% !important;
  }
  .table--contents tbody td:nth-of-type(2) {
    width: 60px;
  }
  .blockTitle {
    padding: 0;
    font-size: 1.8rem;
  }
  .mobileBlockHeight {
    height: 145vh !important;
  }
  .pageContainer {
    flex-wrap: wrap;
  }
  .pageImageContainer {
    display: none !important;
  }

  .pageTextSize {
    font-size: 1.3rem !important;
  }
  .pageTextContainer {
    text-align: center !important;
    padding: 0 !important;
  }
  textarea {
    width: 100% !important;
    margin-top: 10% !important;
  }
  .actionsContainer {
    width: 100% !important;
    justify-content: center !important;
    flex-direction: column;
  }
  input {
    width: 100% !important;
  }
  .submitButton {
    width: 100% !important;
    margin-top: 10px;
  }
  .notification {
    width: 90% !important;
  }
  .footerContent {
    align-items: center !important;
  }
  footer {
    height: 55vh !important;
  }
}

@media only screen and (max-width: 395px) {
  .tocContainer {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .mobileBlockHeight {
    height: 170vh !important;
  }
  .tocContainer {
    font-size: 17px;
  }
  .pageTextSize {
    font-size: 1.1rem !important;
  }
  footer {
    height: 70vh !important;
  }
}
